<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.digibyte">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <application
        android:name=".DigiByte"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/digi_wallet_name"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="108511e9bca59555cc48f2d13514c03dd5ca0035"/>

        <activity
            android:name=".presenter.activities.intro.LauncherActivity"
            android:label="@string/digi_wallet_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presenter.activities.intro.IntroActivity"
            android:label="@string/digi_wallet_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".presenter.activities.BreadActivity"
            android:label="@string/digi_wallet_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".presenter.activities.intro.RecoverActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.WipeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.ImportActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.UpdatePinActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="digiid"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="digibyte"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activities.settings.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.NotificationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.SyncBlockchainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.DisplayCurrencyActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.SecurityCenterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.ShareDataActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.intro.WriteDownActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.PaperKeyActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.SpendLimitActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.PaperKeyProveActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.InputWordsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".presenter.activities.DisabledActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.FingerprintActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.AdvancedActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.NodesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presenter.activities.settings.TestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".presenter.activities.QRCodeActivity"
                  android:theme="@style/Theme.AppCompat.Translucent"/>

        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            tools:node="remove"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.digibyte.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="108511e9bca59555cc48f2d13514c03dd5ca0035"/>
    </application>

</manifest>